<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
     <title>WebCampBackendNew</title>
  </head>

  <body>
    <strong>Title:</strong>
    <p><%= @book.title %></p>

    <strong>Body</strong>
    <p><%= @book.body %></p>
    <a class="back" href="/books">Back</a>
  </body>
</html>